///sections
.offer-row {
  background-color: #ED1C24;
  padding: 10px 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    p {
      font-weight: bold;
    }
  }
  @media (max-width: 992px) {
    p {
      width: 100%;
    }
  }
  .offer-form {
    input {
      font-size: 16px;
      padding: 8px 15px;
      border: none;
    }
    .offer-btn {
      font-size: 16px;
      border: solid 2px white;
      padding: 8px 30px;
    }
  }
}

.head-section {
  .wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .section-one {
    width: 55%;
    padding-top: 20px;
    p {
      font-size: 30px;
      color: #707070;
      font-weight: 500;
      line-height: 1.4;
    }
    .painter-text {
      font-size: 80px;
      line-height: 1;
    }
  }
  .section-two {
    width: 45%;
  }
  .section-three {
    width: 55%;
    padding: 0 6%;
    img {
      margin-bottom: 30px;
    }
  }
  .section-four {
    width: 45%;
    padding-top: 60px;
    padding-bottom: 30px;

    ul {
      display: inline-block;
      margin-bottom: 50px;
      padding-left: 22px;
      font-size: 23px;
      color: #707070;
      li {
        text-align: left;
        list-style-type: disc;
        line-height: 1.5;
      }
    }
  }
  .main-title {
    position: relative;
    padding: 35px 0;
    font-weight: bold;
    font-size: 60px;
    line-height: 1;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 4%;
      width: 97px;
      height: 87px;
      background: url("../img/beet.png") 50% 50% no-repeat;
      background-size: cover;
    }
  }
  .painter-text {
    font-size: 60px;
    padding: 20px 10px;
  }
  @media (max-width: 1200px) {
    .main-title {
      padding: 10px 0 20px;
      font-size: 50px;
      &:after {
        width: 65px;
        height: 58px;
      }
    }
    .section-one {
      p {
        font-size: 24px;
      }
      .painter-text {
        font-size: 70px;
      }
    }
  }
  @media (max-width: 992px) {
    .section-one, .section-two, .section-three,  .section-four {
      width: 100%;
    }
    .section-one {
      order: 1;
    }
    .section-two {
      order: 3;
      text-align: center;
      img {
        max-width: 350px;
      }
    }
    .section-three {
      order: 2;
      text-align: center;
      img {
        max-width: 350px;
      }
    }
    .section-four {
      order: 4;
      ul {
        margin-bottom: 20px;
      }
      .offer-form {
        flex-direction: column;
        align-items: center;
        input, button {
          width: 300px;
        }
        .offer-btn {
          padding-top: 13px;
          padding-bottom: 13px;
          margin: 20px 0 0 0;
        }
      }
    }
  }
}





.free-sample-section {
  background-color: #F6F7F9;
  padding: 40px 0;
  .wrap {
    display: flex;
    align-items: center;

  }
  .col-1 {
    width: 74%;
    .accent-text {
      font-size: 28px;
      font-weight: 600;
      color: #0A4595;
      line-height: 1.57;
    }

  }
  .col-2 {
    width: 26%;
    .sample-img {
      max-width: 170px;
      display: block;
      margin: 0 auto;
    }
  }
  .inner-wrap {
    display: flex;
    align-items: center;
    img {
      max-width: 325px;
    }
    p {
      width: 58%;
      line-height: 1.5;
      font-size: 24px;
      color: #707070;

    }
    img {
      width: 42%;
    }
  }
  @media (max-width: 992px) {
    .col-1 {
      width: 100%;
      .accent-text {
        font-size: 24px;
      }
      .sample-img-mobile {
        max-width: 170px;
        margin: 20px auto;
      }
    }
    .inner-wrap {
      flex-wrap: wrap;
      img {
        order: 1;
        margin: 0 auto;
      }
      p {
        order: 0;
        width: 100%;
        font-size: 20px;
      }
    }
  }
  @media (max-width: 768px) {
    .col-1 {
      .accent-text {
        font-size: 20px;
      }
      .sample-img-mobile {
        max-width: 90px;
      }
    }
    .inner-wrap p {
      font-size: 18px;
    }

  }
}

.review-section {
  padding: 40px 0;
  .wrap {
    display: flex;
    align-items: center;
    .inner-block {
      width: 55%;
      padding-right: 50px;
      ul {

        li {
          margin-bottom: 30px;
          font-size: 21px;
          font-weight: 600;
          color: #7A7A7A;
          font-style: italic;
          line-height: 1.5;
          span {
            font-style: normal;
          }
        }

      }
    }
    img {
      width: 45%;
    }
  }
  @media (max-width: 992px) {
    .wrap {
      flex-wrap: wrap;
      .inner-block {
        width: 100%;
        padding: 0;
      }
      img {
        width: 100%;
      }

    }
  }
}

.image-section {
  padding: 20px 0;
  background-color: #F6F7F9;
  .wrap {
    img {
      max-width: 298px;
    }
  }
  @media (max-width: 992px) {
    .wrap img {
      max-width: 260px;
    }

  }

}

.shipping-section {
  padding: 40px 0;
  img {
    max-width: 45px;
    margin-bottom: 10px;
  }
  p {
    font-weight: 600;
  }
  .shipping-text {
    font-size: 24px;
    color: #0A4595;
  }
  .call-text {
    font-size: 24px;
    color: #ED1C24;
    margin-bottom: 30px;
  }
  @media (max-width: 992px) {
    background: #F6F7F9;
  }


}